<div>
    <h2>
        Angular Service
    </h2>

    <input type="button" value="Call Function" (click)="fun1()"/>
    {{msg1}}
    <br/>
    <input type="button" value="Call Function without DI" (click)="fun2()"/>
    {{msg2}}
    

    <table border="1">
        <tr>
            <th>
                UserId
            </th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        <tr *ngFor= "let obj of employeeDetails">
            <td> {{obj.id}}</td>
            <td> {{obj.name}}</td>
            <td> {{obj.salary}}</td>

        </tr>
    </table>

    <table border="1">
        <tr>
            <th>
                UserId
            </th>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>

        </tr>
        <tr *ngFor= "let obj of fakeObject">
            <td> {{obj.id}}</td>
            <td> {{obj.userId}}</td>
            <td> {{obj.title}}</td>
            <td> {{obj.completed}}</td>

        </tr>
    </table>
</div>