<div>
    <h2> Login page using tdf</h2>
    <form #userRef="ngForm" (ngSubmit)="checkLogin(userRef.value)" novalidate>
        
        <label>Username</label>
        <input type="text" name="uname" ngModel required #nameRef="ngModel" minlength="3"/>

        <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched) ">
            <span [hidden]="!nameRef.errors.required">
                Username is required
            </span>
            <span [hidden]="!nameRef.errors.minlength">
                Min length of 3

            </span>
        </div>
        <br/>
        <label>Password</label>
        <input type="password" name="pname" ngModel required #passRef="ngModel" pattern="\d{3}@\D{2}"/>
        <div *ngIf="passRef.errors && (passRef.dirty || passRef.touched) ">
            <span [hidden]="!passRef.errors.required">
                Password is required
            </span>
            <span [hidden]="!passRef.errors.pattern">
                pattern should be followed as 123@AB

            </span>
        </div>


        <br/>
        <input type="submit" value="submit" [disabled]="!userRef.valid"/>
    </form>
    {{msg}}

</div>

